/* inside style.css */
.highlight {
  background-color: yellow;
}
/* Define the error class with styling */
.error {
  border: 2px solid red;
  background-color: #ffe6e6;
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

/* Define the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}